<div id="comments-list">    <!-- 댓글 목록 전체 영역 -->
    {{#commentsDtos}}
        <div class="card m-2" id="comments-{{id}}">   <!--card : 카드 구조 / m: 마진, 여백 / id 부여-->
            <div class="card-header">
                {{nickname}}
            </div>
            <div class="card-body">
                {{body}}
            </div>
        </div>
    {{/commentsDtos}}
</div>